# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

ADMIN_PANEL_FEATURE_LIST.md

DIGILOCAL_ADMIN_PANEL_BACKEND_APIS.md

DIGILOCAL_ADMIN_PANEL_FULL_API_SPECIFICATION.md

DOCUMENTATION.md

featureListAdminPanel

PROMOTIONAL_FRONTEND_INTEGRATION_SPEC.md

README.md

STRIKES_AND_FLAGS_BACKEND_API_SPEC.md

SUB_ADMIN_PANEL_BACKEND_API_SPEC.

SUPPORT_PANEL_BACKEND_API_SPEC.md

USER_MANAGEMENT_BACKEND_API_SPEC.md